.PokemonView {
  display: flex;
  flex-direction: column;
}
.PokemonView h1 {
  font-weight: 300;
  font-size: 24px;
}

.PokemonView img {
  width: 200px;
}

.PokemonView__abilities {
  list-style: none;
  padding: 0;
}

.PokemonView__abilities li {
  text-decoration: none;
  color: #bd93f9;
  border: 1px solid #bd93f9;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  transition: all 200ms;
  margin-bottom: 10px;
}
